<a href="https://colab.research.google.com/github/para662/BSC_DPDM/blob/main/ch3_data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data cleaning

#Missing data

### Drop record ที่มี missing ออก

drop ถ้ามี missing

In [8]:
df.shape

(913, 23)

In [9]:
df_drop = df.dropna()

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

file_path = '/content/drive/MyDrive/datap/flooding database.csv'
df = pd.read_csv(file_path)
display(df.head())

,system:index,index,threshold_type,glide_index,dfo_country,dfo_other_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,...,dfo_cause,dfo_severity,gfd_area,gfd_exp_ghsl_ts,gfd_exp_ghsl_2000,gfd_exp_ghsl_2015,Errors,dif 2000,dif 2015,error 2000
0,DFO_1586_From_20000218_to_20000301,1586,otsu,0,Australia,0,143.697800,-31.268059,2/18/00,3/1/00,...,Heavy rain,2.0,316.73,38.0,38.0,43,1,0,-5,NaN
1,DFO_1587_From_20000217_to_20000311,1587,otsu,0,Madagascar,0,47.295670,-15.782624,2/17/00,3/11/00,...,"Tropical Storm, Surge",1.0,228.50,4594.0,4594.0,6855,1,0,-2261,NaN
2,DFO_1595_From_20000405_to_20000425,1595,otsu,0,Romania,Hungary,22.415404,46.763746,4/5/00,4/25/00,...,"Snowmelt, Ice, Rain",2.0,89.10,3093.0,3093.0,4618,1,0,-1525,NaN
3,DFO_1614_From_20000711_to_20000810,1614,otsu,0,Thailand,Vietnam,105.063841,11.242567,7/11/00,8/10/00,...,Heavy rain,1.0,4322.47,544758.0,544758.0,658643,1,0,-113885,NaN
4,DFO_1627_From_20000830_to_20000910,1627,otsu,0,China,Russia,132.057679,43.773883,8/30/00,9/10/00,...,"Tropical Storm, Surge",1.0,740.33,785363.0,785363.0,766309,1,0,19054,1.0

drop เฉพาะเกิด missing ออก

- dfo_country
- dfo_other_country
- dfo_began
- dfo_ended
- dfo_dead
- dfo_cause	2
- dfo_severity

In [11]:
df_drop = df.dropna(subset=['dfo_country', 'dfo_other_country', 'dfo_began', 'dfo_ended',
                            'dfo_dead', 'dfo_cause', 'dfo_severity'])
df_drop.shape

(637, 23)

#check missing

In [6]:
df.isnull().sum()

system:index           0
index                  0
threshold_type         0
glide_index          232
dfo_country            0
dfo_other_country    275
dfo_centroid_x         0
dfo_centroid_y         0
dfo_began              0
dfo_ended              1
dfo_validation         2
dfo_dead               0
dfo_displaced          0
dfo_cause              2
dfo_severity           0
gfd_area               0
gfd_exp_ghsl_ts        1
gfd_exp_ghsl_2000      1
gfd_exp_ghsl_2015      0
Errors                 0
dif 2000               0
dif 2015               0
error 2000           889
dtype: int64

## เติม dummy

In [13]:
df.isnull()['dfo_other_country']

0      False
1      False
2      False
3      False
4      False
       ...
908     True
909     True
910     True
911     True
912     True
Name: dfo_other_country, Length: 913, dtype: bool

In [ ]:
df

## เติม missing ด้วยค่ากลาง

In [14]:
df.groupby('dfo_cause').count()

,system:index,index,threshold_type,glide_index,dfo_country,dfo_other_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,...,dfo_displaced,dfo_severity,gfd_area,gfd_exp_ghsl_ts,gfd_exp_ghsl_2000,gfd_exp_ghsl_2015,Errors,dif 2000,dif 2015,error 2000
dfo_cause,,,,,,,,,,,,,,,,,,,,,
Dam,13,13,13,11,13,10,13,13,13,13,...,13,13,13,13,13,13,13,13,13,0
Heavy rain,749,749,749,554,749,530,749,749,749,748,...,749,749,749,748,748,749,749,749,749,16
"Snowmelt, Ice, Rain",52,52,52,45,52,45,52,52,52,52,...,52,52,52,52,52,52,52,52,52,7
"Tropical Storm, Surge",97,97,97,71,97,53,97,97,97,97,...,97,97,97,97,97,97,97,97,97,1

เติม Missing ด้วยค่ากลาง

In [15]:
df_sever1 = df[df['dfo_severity']==1.0]
df_sever15 = df[df['dfo_severity']==1.5]
df_sever2 = df[df['dfo_severity']==2.0]

In [16]:
df_sever1 = flood_sever1.fillna('dfo_cause':'Heavy rain')
df_sever15 = flood_sever15.fillna('dfo_cause':'Heavy rain')
df_sever2 = flood_sever2.fillna('dfo_cause':'Tropicak Storm'

SyntaxError: invalid syntax (ipython-input-2322724678.py, line 1)